body, h1, h2, ul{
    font-family: 'roboto';
    margin: 0px;
}
p{
    text-align: justify;
}
/*entête*/
header{
    height: 50px;
    background-color: #f00020;
}
header span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    padding-left: 50px;
    padding-right: 80px;
    display: inline-block;
}
nav{
    display: inline-block;
    margin-left: 300px;
}
nav ul{
    list-style-type: none;
    padding: 0px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    line-height: 50px;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #f00020;
    background-color: #fff;
    height: 46px;
    border-bottom: 4px solid greenyellow;
}
a:focus{
    height: 46px;
    border-bottom: 4px solid greenyellow;
}
#banniere{
    height: 500px;
    background-color: #dad9d6;
}
#banniere video{
    width: 800px;
    height: 497px;
    padding: 0px 5px 3px 8px;
}
/*section*/
section{
    padding: 40px 50px 0px 50px;
}
section h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 6px;
    color: #f00020;
    border-bottom: 2px double #f00020;
}
#a-propos p{
    display: inline-block;
    width: 650px;
    margin-right: 30px;
    font-family: 'Zapfino';
    font-size: 25px;
    vertical-align: top;
}
#a-propos img{
    display:inline-block;
    width: 400px;
}
#travail p{
    display: inline-block;
    width: 30%;
    padding: 16px 16px 16px 16px;
    border: 1px solid #f00020;
    border-radius: 10px;
}
#cv{
    padding-bottom: 60px;
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}
table td, table th{
    border: 3px solid #090909;
    padding: 10px 30px 10px 30px;
}
#contact ul{
    list-style-type: circle;
    padding-bottom: 30px;
}
#contact ul li{
    font-size: 25px;
    padding-bottom: 5px;
}
textarea{
    vertical-align: top;
}
#submit{
    margin: 20px 0px 20px 360px;
}
footer{
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #f00020;
}
footer p{
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 25px ;
    margin-bottom: 25px ;
}
footer a{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    width: 33%;
    text-align: center;
}


